# App
NEXT_PUBLIC_APP_NAME=FinancTracker
NODE_ENV=development

# Mongo
MONGODB_URI=mongodb://admin:admin@localhost:27017/financ-tracker?authSource=admin

# JWT
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_NAME=ft_token

# Comma-separated list of sysadmin emails (non-privacy stats dashboard access)
SYS_ADMIN_EMAILS=admin@example.com
